flask
gunicorn
requests
flask-cors
mysql-connector-python
pandas
chardet
BeautifulSoup4
html5lib
lxml
xmltodict
pyjwt
scp
paramiko
flask-limiter
warcat
werkzeug
signxml
defusedxml
pysaml2
APScheduler
GitPython