{% extends 'base.html' %}

{% block title %}Files Manager{% endblock %}

{% block content %}
    <!-- UPLOAD FILES MODAL -->
    <div class="modal fade" id="uploadFilesModal" tabindex="-1" aria-labelledby="uploadFilesModalLabel" aria-hidden="true">
        <div class="modal-dialog small-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadFilesModalLabel">Upload Files <span id="file_name_to_publish"></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="" action="" enctype="multipart/form-data" id="upload_files_form">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="mb-3">
                                    <label for="file" class="form-label">Select file:</label>
                                    <input class="form-control form-control-lg" name="file" id="file" type="file">
                                </div>
                                <div class="mb-3">
                                    <label for="folder" class="form-label">Select Folder:</label>
                                    <input class="form-control form-control-lg" type="text" name="folder" id="folder" placeholder="Type the folder to upload your file" aria-label=".form-control-lg">
                                </div>
                                <div class="mb-3">
                                    <label for="folder" class="form-label">Full Path:</label>
                                    <input id="full_path" class="form-control" type="text" value="/" aria-label="Full path will show up here." readonly>
                                </div>
                            </div>
                            <div id="file_upload_result"></div>
                        </div>
                    </div>

                    <div class="modal-footer" id="modal-footer-upload">
                        <button type="button" id="modal-footer-upload-close" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" id="modal-footer-upload-btn" class="btn btn-success">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- PUBLISH MODAL -->
    <div class="modal fade" id="publishModal" tabindex="-1" aria-labelledby="Publish Modal" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Send to a reviewer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3 list-users">
                            <div class="row form-row">
                                <div class="form-group col-md-8">
                                    <label for="e-list-users" class="col-form-label">List of users:</label>
                                </div>
                                <div class="form-group col-md-4">
                                    <input type="search" name="users-with-access-search" id="users-with-access-search" class="form-control" placeholder="Search..." aria-label="Search for..." autocomplete="off" spellcheck="false">
                                </div>
                            </div>
                            <div class="users-with-access-container">
                            </div>
                        </div>
                    </form>
                    <div class="mt-2">
                        <label class="form-label" for="publishComments">Comments</label><textarea class="form-control" id="publishComments" placeholder="Comments" rows="3"></textarea>
                    </div>
                    <div hidden class="container mt-2">
                        <label for="selectedIds" class="form-label">Selected ID's</label><textarea disabled class="form-control" id="selectedIds" rows="1"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success">Send</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END PUBLISH MODAL -->

    <!-- DELETE MODAL -->
    <div class="modal fade" id="removeFilesModal" tabindex="-1" aria-labelledby="removeFileLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removeFileLabel">Delete {{ referenceNoUnderscores }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4>Are you sure you want to completely remove this file(s)? It will delete it from the Archive and from the system forever.</h4>
                </div>
                <div class="modal-footer" id="modal-footer-delete">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" onclick="removeFiles()">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END DELETE MODAL -->

    <div class="card mb-4">
        <div class="card-body">
            <div class="header-1">
                <h3 style="float: left">{% if archive != "1" %}Files Manager{% else %}Files Archive{% endif %}</h3>
                <div style="float:right; margin-left: 10px;" class="header-btns">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#uploadFilesModal">Upload Files</button>
                    <button type="button" id="publish_file_btn" class="btn btn-blue" onclick="doActionBtn(6)" disabled>Publish</button>
                    {% if archive != "1" %}
                        <button type="button" id="remove_file_btn" class="btn btn-red" onclick="doActionBtn(7)" disabled>Delete File</button>
                        <a class="btn" target="_self" href="/files/fileupload?siteId={{ site_id }}&archive=1">Archived</a>
                    {% else %}
                        <button type="button" id="remove_file_btn" class="btn btn-red deleteButton" data-bs-toggle="modal" data-bs-target="#removeFilesModal" disabled>Remove File</button>
                        <a class="btn" target="_self" href="/files/fileupload?siteId={{ site_id }}">Files Manager</a>
                    {% endif %}
                </div>
            </div>

            <table class="table" id="files_table">
                <thead>
                <tr>
                    <th></th>
                    <th>File Path</th>
                    <th>File Name</th>
                    <th>Mime Type</th>
                    <th>Created By</th>
                    <th>Created Date</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                <tr>
                    <th></th>
                    <th>File Path</th>
                    <th>File Name</th>
                    <th>Mime Type</th>
                    <th>Created By</th>
                    <th>Created Date</th>
                    <th>Action</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        let accountId = {{ accountId }};
        let preview_webserver = '{{ preview_webserver }}';
    </script>
    <script src="{{ url_for('static', filename='js/files_manager.js') }}"></script>
{% endblock %}
