{% extends 'base.html' %}

{% block title %}Template Editor{% endblock %}

{% block content %}
    <!-- NOTIFICATIONS -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <!-- SAVED NOTIFICATION -->
        <div id="savedNotification" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Template saved successfully</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
    <!-- END NOTIFICATIONS -->

    <link href="/static/css/editor.css" rel="stylesheet">

    <div class="card-body">
        <div class="header-1">
            <h3 class="pull-left">Template <span id="template_name"></span></h3>
            <div class="pull-right header-btns">
                <a type="button" class="btn" name="s-back-template" id="s-edit-template" href="/manage_templates">Back to Templates</a>
                <input type="button" class="btn btn-success" name="s-edit-template" id="s-edit-template" value="Save" onclick="save_template()"/>
            </div>
        </div>

        <div class="row" style="padding:0 10px">
            <div class="form-group col-md-12">
                <label for="s-template_name" class="col-form-label">Template:</label>
                <input type="text" class="form-control" name="s-template_name" id="s-template_name" value="" onkeyup="sanitizeInput(event)">
            </div>

            <div class="form-group col-md-12">
                <label for="s-template_location" class="col-form-label">URL Pattern: <span class="tip">Use fields from the list that you want to link this template to generate urls dynamically. eg. <strong>{title}</strong>, <strong>{year}</strong>, <strong>{category}</strong>.</span></span></label>
                <input type="text" class="form-control" name="s-template_location" id="s-template_location" value="" onkeyup="sanitizeInput(event)">
            </div>

            <div class="form-group col-md-12" style="margin-bottom:10px">
                <label for="s-feed_location" class="col-form-label">Feed Location:</label>
                <input type="text" class="form-control" name="s-feed_location" id="s-feed_location" value="" onkeyup="sanitizeInput(event)">
            </div>

            <div class="form-group col-md-12">
                <div id="mainCodeDiv">
                    <textarea id="htmlCode"></textarea>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <!-- SCRIPTS -->
    <script src="{{ url_for("static", filename="js/template_editor.js") }}"></script>
    <script>
        let template_id = '{{ template_id }}', accountId = '{{ accountId }}';
    </script>
{% endblock %}