<!DOCTYPE html>
<html>
<head>
    <title>File Upload</title>
</head>
<body>
<h1>File Upload</h1>
<form method="POST" action="/temp/fileupload_api" enctype="multipart/form-data">
    <label for="file">File:</label>
    <input type="file" name="file" id="file"/><br><br>

    <label for="folder">Folder:</label>
    <input type="text" name="folder" id="folder"/><br><br>

    <input type="submit" value="Upload"/>
</form>

<br>
<span>Path: </span><span id="full_path"></span>

<script>
    async function joinPath(...segments) {
        return segments.map(segment => segment.replace(/(^\/|\/$)/g, '')).join('/');
    }

    function sanitizeFilePath(filePath) {
        return filePath.replace(/[^a-zA-Z0-9\-._\/]/g, '_');
    }

    async function setFull_pathSpan() {
        let folder = await sanitizeFilePath(document.getElementById("folder").value);
        let filename = await sanitizeFilePath(document.getElementById("file").value.split('\\').pop());
        document.getElementById("full_path").innerText = await joinPath(folder, filename);
    }

    document.getElementById("file").addEventListener("change", setFull_pathSpan);
    document.getElementById("folder").addEventListener("keyup", setFull_pathSpan);
</script>
</body>
</html>
