{% extends 'base.html' %}

{% block title %}Users{% endblock %}

{% block content %}
    <script>
        $("#nav-link-users").addClass("active");
    </script>

    <!-- ADD USER MODAL -->
    <div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addUserLabel">Add User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="user-name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="user-name">
                        </div>
                        <div class="mb-3">
                            <label for="user-email" class="col-form-label">Email:</label>
                            <input type="text" class="form-control" id="user-email">
                        </div>
                        <div class="mb-3">
                            <label for="user-password" class="col-form-label">Password:</label>
                            <input type="password" class="form-control" id="user-password">
                        </div>
                        <div class="mb-3">
                            <label for="user-is-admin" class="col-form-label">Admin:</label>
                            <select id="user-is-admin" class="form-select" aria-label="Default select example">
                                <option selected value="0">No</option>
                                <option value="1">Yes</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" onclick="addUser()">Add</button>
                </div>
            </div>
        </div>
    </div>

    <!-- EDIT USER MODAL -->
    <div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUserLabel">Edit User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="e-user-name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="e-user-name">
                        </div>
                        <div class="mb-3">
                            <label for="e-user-email" class="col-form-label">Email:</label>
                            <input type="text" class="form-control" id="e-user-email">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" onclick="updateUser()">Update</button>
                </div>
            </div>
        </div>
    </div>


    <!-- DELETE ERROR MODAL -->
    <div class="modal fade" id="deleteErrorModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Error deleting user/s</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>There was an error deleting your user/s<br>Please try again.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ERROR MODAL -->
    <div class="modal fade" id="errorModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Error adding new user</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>There was an error adding your user<br>Please try again.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- NOTIFICATIONS -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <!-- Add Success -->
        <div id="addUserSuccessNotification" class="toast bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Message</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                User added successfully!
            </div>
        </div>
    </div>

    <!-- Table -->
    <div id="TableDiv" class="card mb-4">
        <div class="card-body">
            <div class="header-1">
                <h3 style="float: left">Users</h3>
                <div style="float:right; margin-left: 10px;" class="header-btns">
                    <button id="addUserBtn" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addUserModal">Add User</button>
                    <button disabled id="deleteUserBtn" type="button" class="btn btn-red" data-bs-toggle="modal" data-bs-target="#deleteUser">Delete Users</button>
                    <button disabled id="editUserBtn" type="button" class="btn btn-blue" data-bs-toggle="modal" data-bs-target="#editUserModal">Edit User</button>
                </div>
            </div>
            <table class="table" id="table">
                <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <!-- End Table -->
{% endblock %}


{% block script %}
    <script type="text/javascript">var accountId = {{ accountId }}</script>
    <script src="{{ url_for('static', filename='js/users.js') }}"></script>
{% endblock %}
