{% extends 'base.html' %}

{% block title %}Page Versions{% endblock %}

{% block content %}
    <script>
        let page_id = '{{ page_id }}';
        let preview_webserver = '{{ preview_webserver }}';
        let page_HTMLPath = '{{ page_HTMLPath }}';
        let page_URL = '{{ page_URL }}';
    </script>

    <!-- NOTIFICATIONS -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="versioningNotification" class="toast text-white" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Message</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" id="versioningNotificationMsg"></div>
        </div>
    </div>

    <!-- Table -->
    <div id="TableDiv" class="card mb-4">
        <div class="card-body">
            <div class="header-1">
                <h3 style="float: left">Page Versions</h3>
                <div class="pull-right header-btns">
                    <button disabled type="button" class="btn btn-blue reviewChangesBtn" onclick="reviewChanges()">Review Changes</button>
                </div>
            </div>
            <h5 style="float: left">URL: <a class="green-link" href="{{ page_URL }}" target="_blank">/{{ page_HTMLPath }}</a></h5>
            <table class="table" id="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Version</th>
                    <th>Filename</th>
                    <th>Message</th>
                    <th>Created By</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                <tr>
                    <th></th>
                    <th>Version</th>
                    <th>Reference</th>
                    <th>Message</th>
                    <th>Created By</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <!-- End Table -->

{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/versioning.js') }}"></script>
{% endblock %}
